
.fragen ul{
    margin: 0px;
    padding:0px;
}
.fragen ul li {
    list-style: none inside;
}
.fragen ul li ul{
    padding:5px 0px 0px 30px;
}
.fragen ul li span{
    color:red;
    text-decoration: underline;
    font-weight: bold;
    font-size: 15px;
}
/* ==|== primary styles =====================================================
   Author: Matthias Kretschmann
   ========================================================================== */

.container { 
    margin: 0; 
    font-size: 14px; 
    line-height: 1.231;

}

.container, .container button, input, .container select, .container textarea { font-family: Arial, Helvetica, sans-serif; color: #444; }

.container h1,.container h2 {
    color: #000;
    font-size: 1.5em;
    background: url('http://studip.uni-halle.de/assets/images/line-horiz.png') repeat-x left bottom;
    padding-bottom: 10px;
    margin-top: 0;
}

.container a, .container a:visited { 
    color: #24437C;
    text-decoration: none; 
}

.container a:hover { color: #06e; }

.container #main {
    border: 1px solid #fff;
    width: 900px;
    
    padding: 3% 5%;
    background-color: #D3DEE3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.7)), to(#d3dee3), color-stop(.1,#d3dee3));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.4), #d3dee3, #d3dee3 20%);
    background-image: gradient(linear, left top, left bottom, from(rgba(255,255,255,.4)), to(#d3dee3), color-stop(.1,#d3dee3));
    -webkit-box-shadow: 0px 2px 10px #777;
    -moz-box-shadow: 0px 2px 10px #777;
    box-shadow: 0px 2px 10px #777;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=120, Strength=3);
    -webkit-border-top-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    border-top-left-radius: 30px;
    min-height: 90px;
    margin: 2em auto;
    text-shadow: #eaeaea 0 1px 0;
}

.alert-message {
    font-weight: bold;
}

.container input, .container select {
    border: 1px solid #fff;
    -webkit-box-shadow: inset 0 1px 3px #ccc;
    -moz-box-shadow: inset 0 1px 3px #ccc;
    box-shadow: inset 0 1px 3px #ccc;
    background: #E8EEF0;
}

.container input:focus, .container textarea:focus {
    background: #fff;
    border: 1px solid #122c5f;
    outline: none;
    -webkit-box-shadow: 0 0 8px #98a9b9;
    -moz-box-shadow: 0 0 8px #98a9b9;
    box-shadow: 0 0 8px #98a9b9;
}

.container input[disabled], .container select[disabled], .container textarea[disabled], .container input[readonly], .container select[readonly], .container textarea[readonly] {
    background-color: #D3DEE3;
    border-color: #fff;
}

.container form {
    overflow: hidden;
}

.container fieldset legend {
    padding-left: 0;
}

.container label {
    font-weight: bold;
}

.container .row {
    background: url('http://studip.uni-halle.de/assets/images/line-horiz.png') repeat-x left top;
    padding-top: 2em;
}

.container .actions {
    padding-left: 5px;
    background: transparent;
    margin-top: 0;
    padding: 0 0 5px 22px;
}

.container .btn {
    cursor: pointer;
    background-color: #9dafb9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f4f7), to(#98abb6));
    background-image: -webkit-linear-gradient(top, #f0f4f7, #98abb6);
    background-image: -moz-linear-gradient(top, #f0f4f7, #98abb6);
    background-image: -o-linear-gradient(top, #f0f4f7, #98abb6);
    background-image: -ms-linear-gradient(top, #f0f4f7, #98abb6);
    background-image: linear-gradient(top, #f0f4f7, #98abb6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f0f4f7', EndColorStr='#98abb6');

    color: #222;
    text-shadow: #eaeaea 0 1px 0;
    padding: 1% 4%;
    border: 1px solid white;
    -webkit-box-shadow: 0px 1px 2px #888;
    -moz-box-shadow: 0px 1px 2px #888;
    box-shadow: 0px 1px 2px #888;
    position: relative;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
    font-weight: bold;
    width: auto;
    min-width: 220px;
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.container .btn.primary {
    background-color: #153163;
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);
    padding: 1% 4%;
    border: 1px solid white;
    -webkit-box-shadow: 0px 1px 2px #888;
    -moz-box-shadow: 0px 1px 2px #888;
    box-shadow: 0px 1px 2px #888;
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
    width: auto;
    margin-bottom: 0;
}

.container .btn.cancel {
    float: right;
}

.container span.info {
    font-weight: normal;
    color: #80808E;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
}

#papierZeitBlock {
    margin-left: 152px;
    margin-top: -20px;
}

#zusatzfragenBlock ol {
    margin-bottom: 20px;
    margin-top: 5px;
    list-style: decimal;
}

#zusatzfragenBlock ol li {
    margin-bottom: 5px;
    display: list-item;
}